<header class="page-header">
  <h1>Planets</h1>
</header>
<main>
<mat-paginator [length]="length"
               [pageSize]="size"
               [pageIndex]="page"
               [pageSizeOptions]="[10]"
               (page)="pageChanged($event)">
</mat-paginator>

<mat-progress-bar [value]="progresValue" ></mat-progress-bar>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <p>
        <button mat-button><mat-icon matBadge="{{element.films.length}}" matBadgeColor="primary" mat-list-icon (click)="getFilms(element.films)">movie_creation_outlined</mat-icon>
          &nbsp;&nbsp;Films</button>
        <button mat-button><mat-icon matBadge="{{element.residents.length}}" matBadgeColor="warn" mat-list-icon (click)="getPeople(element.residents)">people_alt_two_tone</mat-icon>
          &nbsp;&nbsp;Residence</button>
        </p>
<!--        <div class="example-element-diagram">-->
<!--          <div class="example-element-position"> {{element.films.length}} </div>-->
<!--          <div class="example-element-symbol"> {{element.residents.length}} </div>-->
<!--        </div>-->
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</main>
