/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {

}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}
.example-small-box, .example-large-box {
  display: flow;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: inherit;
  width: inherit;
}

.example-card {
  max-height: inherit;
  max-width: calc(100% - 25px);
}
