<div mat-line><span>Name:</span><span class="example-spacer"></span> {{specie.name}}</div>
<div mat-line><span>Classification:</span><span class="example-spacer"></span> {{specie.classification}}</div>
<div mat-line><span>Designation:</span><span class="example-spacer"></span> {{specie.designation}}</div>
<div mat-line><span>Average Height:</span><span class="example-spacer"></span> {{specie.average_height}}</div>
<div mat-line><span>Skin Colors:</span><span class="example-spacer"></span> {{specie.skin_colors}}</div>
<div mat-line><span>Hair Colors:</span><span class="example-spacer"></span> {{specie.hair_colors}}</div>
<div mat-line><span>Eye Colors:</span><span class="example-spacer"></span> {{specie.eye_colors}}</div>
<div mat-line><span>Average Lifespan:</span><span class="example-spacer"></span> {{specie.average_lifespan}}</div>
<div mat-line><span>Language:</span><span class="example-spacer"></span> {{specie.language}}</div>
